@import "./utils/_variables.scss";
@import "./base/_fonts.scss";
@import "./components/_btn.scss";
@import "./layouts/_header.scss";
@import "./layouts/_footer.scss";
@import "./pages/_menu_1.scss";

html, body {
	margin: 0px;
	padding-bottom: 70px;
}

a {
	text-decoration: none;
}

.menu {
	&__preview {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 35%;
		text-align: center;
		&--item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 35%;
			height: 500px;
			margin-top: 3%;
			margin-bottom: 3%;
			box-shadow: 1px 1px 12px gray;
			font-size: 1.3rem;
			&--bg {
				background: rgb(252, 223, 219);
			}
		}
		&--note {
			color: rgb(61, 19, 25);
		}
		&--comics {
			color: rgb(61, 19, 25);
		}
		&--chic {
			background: -webkit-linear-gradient(-0.20turn, #E38A12, #8F5AFF);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&--arial {
			color: rgb(199, 116, 18);
		}
		&--delice {
			background: -webkit-linear-gradient(-0.20turn, #0229DD, #8F5AFF);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&--palette {
			background: -webkit-linear-gradient(#3E923A, #BEFF7F);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
}