@import "./utils/_variables.scss";
@import "./base/_fonts.scss";
@import "./components/_btn.scss";
@import "./layouts/_header.scss";
@import "./layouts/_footer.scss";
@import "./pages/_menu_1.scss";
@import "./pages/_mentions.scss";

html, body {
	margin: 0px;
	padding-bottom: 70px;
}

a {
	text-decoration: none;
}

.main {
	display: flex;
	flex-direction: column;
}

.menu {
	&__preview {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 35%;
		text-align: center;
		&--item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 35%;
			height: 500px;
			margin-top: 3%;
			margin-bottom: 3%;
			box-shadow: 1px 1px 12px gray;
			font-size: 1.3rem;
			&.bg {
				background: rgb(252, 223, 219);
			}
		}
		&--note {
			color: rgb(60, 18, 24);
		}
		&--comics.palette {
			font-size: 2.5em;
			color: rgb(114, 191, 86);		
		}
		&--comics.delice {
			font-size: 2.5em;
			color: rgb(8, 135, 251);
			background: transparent;		
		}
		&--comics.note {
			font-size: 2.5em;
			color: rgb(60, 18, 24);		
		}
		&--chic {
			background: -webkit-linear-gradient(-0.20turn, #E38A12, #8F5AFF);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&--arial {
			color: rgb(199, 116, 18);
			font-size: 2.5em;
		}
		&--delice {
			background: -webkit-linear-gradient(-0.20turn, #0229DD, #8F5AFF);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&--palette {
			background: -webkit-linear-gradient(#3E923A, #BEFF7F);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

@media screen and (max-width: 1000px) {
	.menu {
		width: 100%;
		justify-content: center;
		&__preview {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&--item {
				width: 80%;
			}
		}
	}
}