@import "./utils/_variables.scss";
@import "./base/_fonts.scss";
@import "./components/_btn.scss";
@import "./layouts/_header.scss";
@import "./layouts/_footer.scss";

html, body {
	margin: 0px;
}

a {
	text-decoration: none;
}

.menu {
	&__preview {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 35%;
		text-align: center;
		&--item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 35%;
			height: 500px;
			margin-top: 3%;
			margin-bottom: 3%;
			box-shadow: 1px 1px 12px gray;
			font-size: 1.3rem;
		}
		&--chic {
				background: -webkit-linear-gradient(#E38A12, #8F5AFF);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		}
	}
}