.title {
	text-align: center;
}

.carte {
	height: 90%;
	width: 90%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5%;
	font-size: 1.5rem;
	&__content {
		width: 75%;
	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}
	&__subtitle {
		align-items: center;
		display: flex;
		text-align: center;
	}
	&__subtitle::before,&__subtitle::after {
		border-top: .0625em solid;
		content: "";
		flex: 1;
		margin: 1em;
	}
	&__part {
		p {
			margin: 10px;
		}
		&--item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: nowrap;
		}
	}
}

.note {
	background: rgb(252, 223, 219);
	color: rgb(61, 19, 25);
}

.chic {
	background: rgb(255, 245, 254);
	color: rgb(0, 0, 0);
}

.delice {
	background: rgb(237, 239, 239);
	color: rgb(0, 0, 0);
}

.palette {
	background: rgb(253, 255, 253);
	color: rgb(0, 0, 0);
}

i {
	font-size: 3em;
	background: -webkit-linear-gradient(-0.20turn, #EF475F, #F6916A);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 20px;
}

.bottom__title {
	display: flex;
	flex: row;
	justify-content: space-around;
	&--item {
		margin-left: 10px;
	}
}