.title {
	text-align: center;
}

.carte {
	height: 90%;
	width: 90%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5%;
	font-size: 1.5rem;
	&__content {
		width: 75%;
	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		&--palette {
			font-size: 3rem;
			background: -webkit-linear-gradient(#3E923A, #BEFF7F);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&__subtitle {
		align-items: center;
		display: flex;
		text-align: center;
	}
	&__subtitle::before,&__subtitle::after {
		border-top: 0.17em solid;
		border-radius: 15px;
		content: "";
		flex: 1;
		margin: 1em;
	}
	&__part {
		p {
			margin: 10px;
		}
		&--orange {
			color: rgb(198, 116, 18);
		}
		&--purple {
			color: rgb(165, 103, 153);
		}
		&--deeppurple {
			color: rgb(110, 76, 204);
		}
		&--item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: nowrap;
		}
	}
}

.text__title {
	position: relative;
	&:hover .underline {
		width: 100%;
	}
}

.underline {
	position: absolute;
	left: 0;
	bottom: 0;
	transition: width 300ms cubic-bezier(0,0,1,1);
	border-bottom: 2px solid black;
	width: 0;
}

.note {
	background: rgb(252, 223, 219);
	color: rgb(61, 19, 25);
}

.chic {
	background: rgb(255, 245, 254);
	color: rgb(0, 0, 0);
}

.delice {
	background: rgb(237, 239, 239);
	color: rgb(0, 0, 0);
}

.palette {
	background: rgb(253, 255, 253);
	color: rgb(0, 0, 0);
}

i {
	font-size: 3em;
	background: -webkit-linear-gradient(-0.20turn, #EF475F, #F6916A);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 20px;
}

.bottom__title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	&--item {
		margin-left: 10px;
	}
}

h3 {
	&.orange {
		color: rgb(198, 116, 18);
	}
	&.purple {
		color: rgb(165, 103, 153);
	}
	&.deeppurple {
		color: rgb(110, 76, 204);
	}
	&.darkblue::before, &.darkblue::after {
		border-color: rgb(2, 40, 221);
	}
	&.blue::before, &.blue::after {
		border-color: rgb(6, 112, 243);
	}
	&.lightblue::before, &.lightblue::after {
		border-color: rgb(34, 157, 249);
	}
	&.green::before, &.green::after {
		border-color: rgb(65, 150, 60);
	}
}

@media screen and (max-width: 850px) {
	.carte {
		&__part {
			&--item {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		}
	}
}